Cython==0.21.2
git+git://git.assembla.com/jobman.git@7b2c0183209f6bf088c0ceecab10de3c04d3dcac
matplotlib==1.4.2
mock==1.0.1
nose==1.3.4
numexpr==2.4
numpy==1.9.1
Pillow==2.7.0
pyparsing==2.0.3
python-dateutil==2.4.0
pytz==2014.10
PyYAML==3.11
scikits.audiolab==0.11.0
scipy==0.14.1
six==1.9.0
tables==3.1.1
git+git://github.com/Theano/Theano.git@5ec4c3021b7bf9ed335dca6cff7132203c26c93b
