Cython
git+git://github.com/crmne/jobman.git
matplotlib
mock
nose
numexpr
numpy
Pillow
pyparsing
python-dateutil
pytz
PyYAML
scikit-learn
scikits.audiolab
scipy
six
tables
git+git://github.com/Theano/Theano.git
